<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="keywords" content="集利财富，集利网，投资理财，网络理财，个人理财，互联网理财，互联网金融，固定收益，本息保障，个人贷款，网络贷款，网络借贷，小额贷款，信用贷款，担保贷款，网贷平台，投融资平台">
	<meta name="description" content="集利财富：安全可信赖的投资理财平台，为大众用户提供低门槛、可信赖、有保障的投资理财服务！在集利财富，足不出户、轻点鼠标，即可便捷投资、安享收益！">
	<meta name="apple-mobile-web-app-title" content="集利财富，点滴投资，聚集好利，安全可信赖的投资理财平台" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="../css/fontello.css">
	<link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/common.css">
	<title>投标专区－集利财富</title>
</head>
<body>
	<form id="forms1">
		<div class="nav-list-screen">
			<ul class="clearfix">
				<li class="">
					<div class="classifyTitle"><span>项目期限</span><i class="icon-down-dir"></i></div>
				</li>
				<li class="">
					<div class="classifyTitle"><span>年化利率</span><i class="icon-down-dir"></i></div>
				</li>
				<li class="">
					<div class="classifyTitle filter" tapmode onclick="openSlidFrame()"><span>筛选</span><i class="icon-down-dir"></i></div>
				</li>
			</ul>
		</div>
	</form>
	<div class="main">
		<div class="nav-content">
			<div class="target_tou">
				<ul>
					<script id="toubiao_template" type="text/html">
						{{ set b = $data}}
						{{each b value key}}
						<li class="
						{{if value.b_status_name=='投标中'}}
						{{else if value.b_status_name=='已过期'}}
							pass
						{{else if value.b_status_name=='已售罄'}}
							repayment_su
						{{else if value.b_status_name=='还款中'}}
							repayment_in
						{{else if value.b_status_name=='已结束'}}
							pass
						{{/if}}
						{{if value.is_hot==1}}
							hot
						{{/if}}
						" tapmode onclick="jumpToDetail({{value.b_id}})">
							<div class="target_tou_t">
								<h1><img src="{{value.bt_img}}">{{value.b_projecttitle}}
									{{if value.canrsecoupon==1}}
										<img src="../image/icon_phone.png" style="width: 60px;height: 40px;margin-right: 0;margin-left: 10px;">
									{{/if}}
									{{if value.b_assignbiddding==1}}
										<img class="yu" src="../image/yu.png" >
									{{/if}}
	              </h1>
								<span class="target_tou_s"><i data-val="parseInt(value.progress)" style="width:{{value.progress}}"></i></span>
							</div>
							<div class="target_tou_b clearfix">
								<dl style="width: 40%;">
									<dt class="color3 fs14" >
										<em class="color-red fs24">{{value.Rate.slice(0,-1)}}</em>
										<i class="color-red fs16">%</i>
	                </dt>
									<dd>预期年化收益率</dd>
								</dl>
								<dl style="width: 24%;">
									<dt class="color4 fs16">
										{{if value.loandeadline.indexOf('月')}}
											<em class="fs20">{{value.loandeadline.slice(0,-2)}}</em><i>个月</i>
										{{else if value.loandeadline.indexOf('天')}}
											<em class="fs20">{{value.loandeadline.slice(0,-1)}}</em><i>天</i>
										{{/if}}
									</dt>
									<dd>项目期限</dd>
								</dl>
								<dl style="width: 36%;">
									<dt><em class="color2 fs20">{{value.b_need_loan}}</em></dt>
									<dd>投标金额（元）</dd>
								</dl>
							</div>
							<div class="toubiao-btn">立即投标</div>
						</li>
						{{/each}}
					</script>
          <li class="" tapmode onclick="jumpToDetail()">
						<div class="target_tou_t">
							<h1><img src="https://www.51jili.com/attachment/display/3310">GYL002858                                                                                                                            <img src="../image/icon_phone.png" style="width: 60px;height: 40px;margin-right: 0;margin-left: 10px;">
                                                                                                                                                                                </h1>
							<span class="target_tou_s">
								<i data-val="25.98" style="width:30%"></i>
							</span>
						</div>
						<div class="target_tou_b clearfix">
							<dl style="width: 40%;">
								<dt class="color3 fs14" ><em class="color-red fs24">8.8</em><i class="color-red fs16">%</i>
                                                                                                                                                                                                        </dt>
								<dd>预期年化收益率</dd>
							</dl>
							<dl style="width: 24%;">
								<dt class="color4 fs16"><em class="fs20">6</em><i>个月</i></dt>
								<dd>项目期限</dd>
							</dl>
							<dl style="width: 36%;">
								<dt><em class="color2 fs20">400,000</em></dt>
								<dd>投标金额（元）</dd>
							</dl>
						</div>
						<div class="toubiao-btn">立即投标</div>
					</li>
					<!-- <li class="" tapmode onclick="jumpToDetail()">
						<div class="target_tou_t">
							<h1><img src="https://www.51jili.com/attachment/display/3310">GYL002857
								<span class="target_tou_s"><i data-val="10.96"></i></span>
						</div>
						<div class="target_tou_b clearfix">
							<dl style="width: 40%;">
								<dt class="color3 fs14" >
									<em class="color-red fs24">9.2</em><i class="color-red fs16">%</i>
								</dt>
								<dd>预期年化收益率</dd>
							</dl>
							<dl style="width: 24%;">
								<dt class="color4 fs16"><em class="fs20">12</em><i>个月</i></dt>
								<dd>项目期限</dd>
							</dl>
							<dl style="width: 36%;">
								<dt><em class="color2 fs20">550,000</em></dt>
								<dd>投标金额（元）</dd>
							</dl>
						</div>
						<div class="toubiao-btn">立即投标</div>
					</li>
          <li class="repayment_su" tapmode onclick="jumpToDetail()">
						<div class="target_tou_t">
							<h1>
								<img src="https://www.51jili.com/attachment/display/3310">GYL002823
								<img src="../image/icon_phone.png" style="width: 60px;height: 40px;margin-right: 0;margin-left: 10px;">
							</h1>
							<span class="target_tou_s"><i data-val="100.00"></i></span>
						</div>
						<div class="target_tou_b clearfix">
							<dl style="width: 40%;">
								<dt class="color3 fs14" ><em class="color-red fs24">8.8</em><i class="color-red fs16">%</i></dt>
								<dd>预期年化收益率</dd>
							</dl>
							<dl style="width: 24%;">
								<dt class="color4 fs16"><em class="fs20">6</em><i>个月</i></dt>
								<dd>项目期限</dd>
							</dl>
							<dl style="width: 36%;">
								<dt><em class="color2 fs20">550,000</em></dt>
								<dd>投标金额（元）</dd>
							</dl>
						</div>
						<div class="toubiao-btn" >已售罄</div>
					</li>
          <li class="repayment_su" tapmode onclick="jumpToDetail()">
						<div class="target_tou_t">
							<h1>
								<img src="https://www.51jili.com/attachment/display/3310">GYL002817
								<img src="../image/icon_phone.png" style="width: 60px;height: 40px;margin-right: 0;margin-left: 10px;">
							</h1>
							<span class="target_tou_s"><i data-val="100.00"></i></span>
						</div>
						<div class="target_tou_b clearfix">
							<dl style="width: 40%;">
								<dt class="color3 fs14" ><em class="color-red fs24">9.2</em><i class="color-red fs16">%</i></dt>
								<dd>预期年化收益率</dd>
							</dl>
							<dl style="width: 24%;">
								<dt class="color4 fs16"><em class="fs20">12</em><i>个月</i></dt>
								<dd>项目期限</dd>
							</dl>
							<dl style="width: 36%;">
								<dt><em class="color2 fs20">500,000</em></dt>
								<dd>投标金额（元）</dd>
							</dl>
						</div>
						<div class="toubiao-btn" >已售罄</div>
					</li> -->
        </ul>
			</div>
                        <input type="hidden" id="bdtype" value="1" />
                        			<div class="tou-list-tip" data-val="0" style="text-align: center;padding: 10px;font-size: 16px;color: #999;">
    下拉加载更多<i class="icon-angle-double-down"></i>

</div>
</body>
<script src="../script/jquery.js"></script>
<script src="../script/common.js"></script>
<script src="../script/template-web.js"></script>
<script>
	apiread = function (){

	}
	function openSlidFrame (){
		api.openFrame({
		    name: 'investmentClassify',
		    url: './investmentClassify.html',
				animation:{
					type:'fade',
					subType:'from_right'
				},
				bgColor:'rgba(0,0,0,0.5)',
				rect:{
					x:0,
					y:0,
					w:'auto',
					h:'auto',
				}
		});
	}

	function refreshFrameData(){
		refreshData({
			url:"investment",
			values:{
				limit:10,
				offset:0
			},
			loginParams:{
				slidBackEnabled:false,
				isbackToIndex:true
			},
			fun:function(ret,err){
					console.log(JSON.stringify(ret))
					if(ret.code == 1){
							var data = ret.data
							//渲染投标专区数据
							var toubiaoHTML = template('toubiao_template',data);
							$('.target_tou > ul').html(toubiaoHTML);
					}
			}
		})
	}


</script>
</html>
