.received-list li img {
    display: block;
    height: 30px;
    margin-right: 5px;
}

.received-list li span {
    top: 50%;
    margin-top: -12px;
    margin-left: -40px;
    font-size: 18px;
}

.received-list li small {
    top: 50%;
    margin-top: -12px;
    font-size: 16px;
}