<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="集利财富，集利网，投资理财，网络理财，个人理财，互联网理财，互联网金融，固定收益，本息保障，个人贷款，网络贷款，网络借贷，小额贷款，信用贷款，担保贷款，网贷平台，投融资平台">
    <meta name="description" content="集利财富：安全可信赖的投资理财平台，为大众用户提供低门槛、可信赖、有保障的投资理财服务！在集利财富，足不出户、轻点鼠标，即可便捷投资、安享收益！">
    <meta name="apple-mobile-web-app-title" content="集利财富，点滴投资，聚集好利，安全可信赖的投资理财平台" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../../css/fontello.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <style>
    .received-list li img {
        display: block;
        height: 30px;
        margin-right: 5px;
    }

    .received-list li span {
        top: 50%;
        margin-top: -12px;
        margin-left: -40px;
    }

    .received-list li small {
        font-size: 14px;
    }

    .received-list li small .qishu{
        color:#333;
    }
    #income .main{
        padding-bottom:30px;
    }
    </style>
    <link rel="stylesheet" href="../../css/income.css">
    <title>收益概况</title>
</head>

<body >
    <!-- <div class="received-t">
        <h1>总收益</h1>
        <p class="color-red">
            ¥
            <span>100.22</span>
        </p>
    </div>
    <div class="detail-num">
        <ul class="clearfix">
            <li>
                <p>待收收益</p>
                <div class="color2">
                    ¥
                    <span>1222200.00</span>
                </div>
            </li>
            <li>
                <p>已收收益</p>
                <div class="color2">
                    ¥
                    <span>1002222.00</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="main">
        <h1 class="title">
            <span></span> 收益详情
        </h1>
        <div class="received-list">
            <ul>
                <li>
                    <span>
                      2018-11-11
                    </span>
                    <em class="color2">
                      <img src="" alt="">
                      <div>集房宝jfb</div>
                    </em>

                    <small class="color-red ">
                        <div class="qishu">第<b class="color-red">2</b>期/共12期</div>
                        <div>待收款<i class="color4">20.00</i></div>
                    </small>
                </li>
            </ul>
        </div>
    </div>
    <div class="tou-list-tip" style="text-align: center;padding: 10px;font-size: 16px;color: #999;">
    下拉加载更多
        <i class="icon-angle-double-down"></i>
    </div> -->
    <div id="income"></div>
    <script id="incomeBox" type="text/html">
        <div class="received-t">
            <h1>总收益</h1>
            <p class="color-red">
                ¥
                <span>{{income_total}}</span>
            </p>
        </div>
        <div class="detail-num">
            <ul class="clearfix">
                <li>
                    <p>待收收益</p>
                    <div class="color2">
                        ¥
                        <span>{{income_ds}}</span>
                    </div>
                </li>
                <li>
                    <p>已收收益</p>
                    <div class="color2">
                        ¥
                        <span>{{income_ss}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main">
            <h1 class="title">
                <span></span> 收益详情
            </h1>
            <div class="received-list">
                <ul>
                    跳转到新版还款计划（参照网利宝）
                    {{each list}}
                    <li tapmode onclick="jumpToWin('usercenter/myinvestDetail','投资详情',{t_id:{{$value.ide_t_id}}})">
                        <span>
                          {{$value.ide_due_date|repaymentPlanDataFormat}}
                        </span>
                        <em class="color2">
                          <img src="{{$value.img_url}}" alt="">
                          <div>{{$value.b_projecttitle}}</div>
                        </em>

                        <small class="color-red ">
                            <div class="qishu">

                                    第<b class="color-red">{{$value.ide_repayment_period}}</b>期/共{{$value.ide_number_periods}}期</div>

                            <div>
                                {{if $value.ide_status ==1}}
                                    待收款
                                {{else if $value.ide_status == 2}}
                                    已收款
                                {{else if $value.ide_status==3}}
                                    已取消
                                {{else if $value.ide_status==4}}
                                    卖出债权已结算
                                {{/if}}
                                <i class="color4">{{$value.total_cost}}</i></div>
                        </small>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="tou-list-tip" style="text-align: center;padding: 10px;padding-bottom:20px;font-size: 16px;color: #999;">

        </div>
    </script>
    <script id="incomelist_template" type="text/html">
        {{each $data}}
        <li tapmode onclick="jumpToWin('usercenter/myinvestDetail','投资详情',{t_id:{{$value.ide_t_id}}})">
            <span>
              {{$value.ide_due_date|repaymentPlanDataFormat}}
            </span>
            <em class="color2">
              <img src="{{$value.img_url}}" alt="">
              <div>{{$value.b_projecttitle}}</div>
            </em>

            <small class="color-red ">
                <div class="qishu">

                        第<b class="color-red">{{$value.ide_repayment_period}}</b>期/共{{$value.ide_number_periods}}期</div>

                <div>
                    {{if $value.ide_status ==1}}
                        待收款
                    {{else if $value.ide_status == 2}}
                        已收款
                    {{else if $value.ide_status==3}}
                        已取消
                    {{else if $value.ide_status==4}}
                        卖出债权已结算
                    {{/if}}
                    <i class="color4">{{$value.total_cost}}</i></div>
            </small>
        </li>
        {{/each}}
    </script>

    </body>
    <script src="../../script/jquery.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/template-web.js"></script>
    <script src="../../script/template-filter.js"></script>
    <script>
        apiready = function() {
            refreshFrameData();

        }

        var offset,
        limit = 20;
        function refreshFrameData() {
            offset = 0
            refreshData({
                url: 'income',
                values: {
                    token: '',
                    limit:limit,
                    offset:offset
                },
                loginParams: {
                    slidBackEnabled: false,
                    isbackToIndex: true
                },
                fun: function(ret, err) {
                    var data = ret.data;
                    // var data = JSON.parse('{"income_ds":"7.70","income_ss":"15.33","income_total":"23.03","list":null}')
                    if(ret.code==1){
                        if(data.list.length!=0){
                            var html = template('incomeBox', data);
                            $('#income').html(html);
                            api.parseTapmode();
                            if(data.list.length>=limit){
                                $('.tou-list-tip')
                                .html('下拉加载更多<i class="icon-angle-double-down"></i>')
                                bottomRefresh()
                            }else{
                                $('.tou-list-tip').html('已经到底了')
                            }

                        }else{
                            var html = template('incomeBox', data);
                            $('#income').html(html);
                            api.parseTapmode();
                            var html = `<div style="color:#666;font-size: 16px;padding: 150px 0;text-align: center">
                                            您目前没有收益记录 <a onclick="jumpAndRefresh(1)" style="color:#ef4646;text-decoration: underline;">现在投资</a>
                                        </div>`
                            $('.received-list').html(html);
                        }
                    }
                }
            });
        }

        function incomePost(){
            var token = getToken()
            apiPost({
                url:'income',
                values:{
                    token:token,
                    limit:limit,
                    offset:offset
                },
                fun:function(ret,err){
                    if(ret.code==1){
                        if(ret.data.list.length==0){
                            showToastMsg('已经到底了')
                            $('.tou-list-tip').html('已经到底了')
                        }else{
                            var data = ret.data.list;
                            var html = template('incomelist_template', data);
                            $('.received-list ul').append(html)
                            api.parseTapmode();
                        }
                    }
                }
            })
        }

        // 底部上拉刷新事件
        function bottomRefresh(){
            api.addEventListener({
                name: 'scrolltobottom',
                    extra:{
                        threshold:100
                    }
            }, function(ret, err){
                //页数加1，然后刷新分类数据
                offset++
                incomePost()
            });
        }

        function jumpAndRefresh(index){
      	  var frameName = '';
      	  jumpToIndex(index)
      	  if(index = 1){
      		  frameName = 'investFrame0'
      	  }else{
      		  frameName = 'frame'+index
      	  }
      	  api.execScript({
      		  name:'index',
      	      frameName: frameName,
      	      script: 'apiready=function(){api.refreshHeaderLoading();}'
      	  });

        }
    </script>


</html>
