<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no,minimal-ui">
    <meta name="keywords" content="集利财富，集利网，投资理财，网络理财，个人理财，互联网理财，互联网金融，固定收益，本息保障，个人贷款，网络贷款，网络借贷，小额贷款，信用贷款，担保贷款，网贷平台，投融资平台">
    <meta name="description" content="集利财富：安全可信赖的投资理财平台，为大众用户提供低门槛、可信赖、有保障的投资理财服务！在集利财富，足不出户、轻点鼠标，即可便捷投资、安享收益！">
    <meta name="apple-mobile-web-app-title" content="集利财富，点滴投资，聚集好利，安全可信赖的投资理财平台" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../../css/fontello.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/fundrecord.css">
    <title></title>
</head>
<style>
    .tou-list-t em {
        width: 100px;
    }
</style>

<body>
    <div class="main" id="mytransfer">
        <script id="mytransferBox" type="text/html">
            <div class="tab4-content tou-list tab4-list active">
                <ul>
                    {{each}}
                    <li class="conduct" data-num="{{$value.t_id}}">
                        <div class="tou-list-t">
                            <h1 style="padding-left:10px;">
                                <img src="{{$value.bt_img}}" alt="">
                                <span style="color:#333">{{$value.b_projecttitle}}</span>
                            </h1>
                            {{if $value.t_transfer_status=='可转让'}}
                            <em>
                            {{else}}
                            <em style="color:#ccc;border-color:#ccc">
                            {{/if}}
                              {{$value.t_transfer_status}}
                            </em>


                        </div>
                        <div class="tou-list-b clearfix">
                            <div class="tou-list-b-l">
                                <p>{{$value.Rate}}{{if $value.IncreasedRate != '0%'}}+{{$value.IncreasedRate}}{{/if}}</p>
                                <em>预期年化收益率</em>
                            </div>
                            <div class="tou-list-b-c">
                                <p>{{$value.loandeadline}}天</p>
                                <em>项目期限</em>
                            </div>
                            <div class="tou-list-b-r">
                                <p>¥<span>{{$value.t_investment}}</span></p>
                                <em>投标金额(元)</em>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </script>
    </div>
    <script src="../../script/jquery.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/template-web.js"></script>
    <script>
        var status;
        apiready = function(){
            refreshFrameData();
        }
        function refreshFrameData() {
            var name = api.pageParam.name;
            if (name == '全部') {
                status = null;
            } else if (name == '未转让') {
                status = 0;
            } else if (name == '转让中') {
                status = 1;
            } else if (name == '已转让') {
                status = 2;
            } else if (name == '已成交') {
                status = 3;
            }
            refreshData({
                url: 'mytransfer',
                values: {
                    token: '',
                    t_transfer_status: status
                },
                slidBackEnabled: false,
                isbackToIndex: true,
                fun: function (ret, err) {
                    var data = ret.data;
                    var html = template('mytransferBox',data);
                    $('#mytransfer').html(html);
                }
            });
        }
    </script>
</body>

</html>
