<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no,minimal-ui">
    <meta name="keywords" content="集利财富，集利网，投资理财，网络理财，个人理财，互联网理财，互联网金融，固定收益，本息保障，个人贷款，网络贷款，网络借贷，小额贷款，信用贷款，担保贷款，网贷平台，投融资平台">
    <meta name="description" content="集利财富：安全可信赖的投资理财平台，为大众用户提供低门槛、可信赖、有保障的投资理财服务！在集利财富，足不出户、轻点鼠标，即可便捷投资、安享收益！">
    <meta name="apple-mobile-web-app-title" content="集利财富，点滴投资，聚集好利，安全可信赖的投资理财平台" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../../css/fontello.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/income.css">
    <title>回款记录</title>
    <style>
    .received-list li img {
        display: block;
        height: 30px;
        margin-right: 5px;
    }

    .received-list li span {
        top: 50%;
        margin-top: -12px;
        margin-left: -40px;
    }

    .received-list li small {
        font-size: 14px;
    }

    .received-list li small .qishu{
        color:#333;
    }
    #plan .main{
        padding-bottom:30px;
    }
    </style>
</head>

<body >
    <div id="plan"></div>
    <script id="planBox" type="text/html">
        <div class="received-t">
            <h1>总回款</h1>
            <p class="color-red">
                ¥
                <span>{{repayment_total}}</span>
            </p>
        </div>
        <div class="detail-num">
            <ul class="clearfix">
                <li>
                    <p>待回款</p>
                    <p class="color2">
                        ¥
                        <span>{{repayment_ds}}</span>
                    </p>
                </li>
                <li>
                    <p>已回款</p>
                    <p class="color2">
                        ¥
                        <span>{{repayment_ss}}</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="main">
            <h1 class="title">
                <span></span> 回款详情
            </h1>
            <div class="received-list">
                <ul>
                    {{each list}}
                    <li tapmode onclick="jumpToWin('usercenter/myinvestDetail','投资详情',{t_id:{{$value.ide_t_id}}})">
                        <em class="color2">
                          <div>{{$value.ide_due_date|fromDate}}</div>
                          <div>{{$value.b_projecttitle}}</div>
                        </em>
                        <span>
                          <i class="color4">{{$value.ide_total_cost}}</i>
                        </span>
                        <small class="color-red ">
                          {{if $value.ide_status}}
                            待回款
                            {{else}}
                            已回款
                            {{/if}}
                        </small>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="tou-list-tip" style="text-align: center;padding: 10px;padding-bottom:20px;font-size: 16px;color: #999;">

        </div>
    </script>
    <script id="plan_li_box" type="text/html">
        {{set d = $data}}
        {{each d}}
        <li>
            <em class="color2">
              <div>{{$value.ide_due_date|fromDate}}</div>
              <div>{{$value.b_projecttitle}}</div>
            </em>
            <span>
              <i class="color4">{{$value.ide_total_cost}}</i>
            </span>
            <small class="color-red ">
              {{if $value.ide_status}}
                待回款
                {{else}}
                已回款
                {{/if}}
            </small>
        </li>
        {{/each}}
    </script>
    <script src="../../script/jquery.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/template-web.js"></script>
    <script src="../../script/template-filter.js"></script>
    <script>
        apiready = function(){
            refreshFrameData();
        }
        var offset,
        limit=20;
        function refreshFrameData() {
            offset = 0
            refreshData({
                url: 'repayment',
                values: {
                    token: '',
                    offset:offset,
                    limit:limit
                },
                fun: function (ret, err) {
                    var data = ret.data;
                    // var html = template('planBox', data);
                    // $('#plan').html(html);
                    if(ret.code==1){
                        if(data.list.length!=0){
                            var html = template('planBox', data);
                            $('#plan').html(html);
                            api.parseTapmode();
                            if(data.list.length>=limit){
                                $('.tou-list-tip')
                                .html('下拉加载更多<i class="icon-angle-double-down"></i>')
                                bottomRefresh()
                            }else{
                                $('.tou-list-tip').html('已经到底了')
                            }

                        }else{
                            var html = template('planBox', data);
                            $('#plan').html(html);
                            api.parseTapmode();
                            var html = `<div style="color:#666;font-size: 16px;padding: 150px 0;text-align: center">
                                            您目前没有收益记录 <a onclick="jumpAndRefresh(1)" style="color:#ef4646;text-decoration: underline;">现在投资</a>
                                        </div>`
                            $('.received-list').html(html);
                        }
                    }
                }
            });
        }

        function paymentPlanPost(){
            var token = getToken()
            apiPost({
                url:'repayment',
                values:{
                    token:token,
                    limit:limit,
                    offset:offset
                },
                fun:function(ret,err){
                    if(ret.code==1){
                        if(ret.data.list.length==0){
                            showToastMsg('已经到底了')
                            $('.tou-list-tip').html('已经到底了')
                        }else{
                            var data = ret.data.list;
                            var html = template('plan_li_box', data);
                            $('.received-list ul').append(html)
                            api.parseTapmode();
                        }
                    }
                }
            })
        }

        // 底部上拉刷新事件
        function bottomRefresh(){
            api.addEventListener({
                name: 'scrolltobottom',
                    extra:{
                        threshold:100
                    }
            }, function(ret, err){
                //页数加1，然后刷新分类数据
                offset++
                paymentPlanPost()
            });
        }

        function jumpAndRefresh(index){
      	  var frameName = '';
      	  jumpToIndex(index)
      	  if(index = 1){
      		  frameName = 'investFrame0'
      	  }else{
      		  frameName = 'frame'+index
      	  }
      	  api.execScript({
      		  name:'index',
      	      frameName: frameName,
      	      script: 'apiready=function(){api.refreshHeaderLoading();}'
      	  });

        }
    </script>
</body>

</html>
